# ignore Desktop Services Store
.DS_Store

# ignore JS dependencies
node_modules/

# ignore ESLint cache
.eslintcache

# ignore compiled and copied dev files
lib/

# ignore Wireit cache and data
.wireit/
